@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  transition-property: color, background-color;
  transition-duration: 300ms;
}
body{
  font-family: Poppins
}
.sono {
  font-family: Sono;
}
.grid-rows-custom{
  grid-template-rows: auto 340px auto;
}